<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>CRYPTO WALLET</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon slot="icon-only" name="settings-outline" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cyber-bg">
    <div class="stars"></div>
    <div class="stars2"></div>
  </div>

  <div class="balance-card">
    <p>TOTAL BALANCE</p>
    <h1>{{ totalBalance | currency:'USD':'symbol':'1.2-2' }}</h1>
  </div>

  <div class="ion-text-center ion-padding" *ngIf="loading">
    <ion-spinner color="secondary"></ion-spinner>
    <p style="color: #666; margin-top: 10px;">Syncing Assets...</p>
  </div>

  <div *ngIf="!loading && myCoins.length === 0" class="empty-state">
    <ion-icon name="wallet-outline" size="large" color="medium"></ion-icon>
    <p>No assets holding yet.</p>
    <ion-button routerLink="/tabs/market" fill="outline" color="secondary">
      Go to Market
    </ion-button>
  </div>

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let coin of myCoins" class="coin-item-sliding">
      
      <ion-item button [routerLink]="['/coin-detail', coin.id]" detail="false">
        <ion-avatar slot="start">
          <img [src]="coin.image" />
        </ion-avatar>
        
        <ion-label>
          <div class="row-top">
            <h2>{{ coin.name }}</h2>
            <h2 class="price-value">{{ coin.totalValue | currency:'USD':'symbol':'1.2-2' }}</h2>
          </div>
          
          <div class="row-bottom">
            <p>{{ coin.amount }} {{ coin.symbol | uppercase }}</p>
            <p [class.text-green]="coin.price_change_percentage_24h >= 0" 
               [class.text-red]="coin.price_change_percentage_24h < 0">
              {{ coin.current_price | currency:'USD' }}
            </p>
          </div>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option class="cyber-delete-bg" (click)="remove(coin)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    
    </ion-item-sliding>
  </ion-list>
  
  <div style="height: 50px"></div>
</ion-content>