<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="market">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Mercado</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trending">
      <ion-icon name="flame"></ion-icon>
      <ion-label>Tendencia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="portfolio">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Cartera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Global</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>